button.btn {

	--background-color: var(--neutral-color);
	--color: var(--text-color);

	color: rgba(var(--color), 0.9);
	background-color: rgba(var(--background-color), 0.8);
	border-color: rgb(var(--background-color));
	border-radius: 4px;
	border-width: 1px;

	text-transform: var(--button-text-case);
	padding: 5px;
	font-weight: bold;
	cursor: pointer;

	&.primary {
		--background-color: var(--primary-color);
	}

	&.secondary {
		--background-color: var(--secondary-color);
	}

	&.accent {
		--background-color: var(--accent-color);
	}

	&.info {
		--color: var(--base-color);
		--background-color: var(--info-color);
	}

	&.success {
		--color: var(--base-color);
		--background-color: var(--success-color);
	}

	&.warn {
		--color: var(--base-color);
		--background-color: var(--warn-color);
	}

	&.error {
		--color: var(--base-color);
		--background-color: var(--error-color);
	}

	&.disabled,
	&.disabled:active,
	&.disabled:focus {
		--background-color: 60, 60, 60;
		--color: var(--text-color);
		cursor: not-allowed;
		user-select: none;
		border-style: initial;
		outline: none;
	}

}