a.link {
	--color: var(--text-color);
	color: rgb(var(--color));

	&:hover {
		color: rgba(var(--color), 0.7);
	}


	&.primary {
		--color: var(--primary-color);
	}

	&.secondary {
		--color: var(--secondary-color);
	}

	&.accent {
		--color: var(--accent-color);
	}

	&.info {
		--color: var(--info-color);
	}

	&.success {
		--color: var(--success-color);
	}

	&.warn {
		--color: var(--warn-color);
	}

	&.error {
		--color: var(--error-color);
	}

	&.disabled,
	&.disabled:active,
	&.disabled:focus {
		color: rgb(var(--text-color));
		text-decoration: line-through;
		text-decoration-color: rgb(var(--color));
		cursor: not-allowed;
		user-select: none;
		border-style: initial;
		outline: none;
	}
}