:root {
	--primary-color: 100, 25, 230;
	--secondary-color: 217, 38, 169;
	--accent-color: 31, 178, 166;
	--neutral-color: 25, 29, 36;
	--base-color: 42, 48, 60;
	--info-color: 58, 191, 248;
	--success-color: 54, 211, 153;
	--warning-color: 251, 189, 35;
	--error-color: 248, 114, 114;

	--text-color: 197, 206, 221;

	--button-text-case: uppercase;
}