<header>
	<h1>Headline</h1>
</header>


<div class="page">
	<div class="wrapper">
		<div class="colors">
			<h3>Primary</h3>
			<app-color-picker [(ngModel)]="primary"
							  (ngModelChange)="changeColor($event, 'primary')"></app-color-picker>

			<h3>Secondary</h3>
			<app-color-picker [(ngModel)]="secondary"
							  (ngModelChange)="changeColor($event, 'secondary')"></app-color-picker>

			<h3>Accent</h3>
			<app-color-picker [(ngModel)]="accent"
							  (ngModelChange)="changeColor($event, 'accent')"></app-color-picker>

			<h3>Neutral</h3>
			<app-color-picker [(ngModel)]="neutral"
							  (ngModelChange)="changeColor($event, 'neutral')"></app-color-picker>
			<h3>Base Color</h3>
			<app-color-picker [(ngModel)]="base"
							  (ngModelChange)="changeColor($event, 'base')"></app-color-picker>
			<h3>Info</h3>
			<app-color-picker [(ngModel)]="info"
							  (ngModelChange)="changeColor($event, 'info')"></app-color-picker>
			<h3>Success</h3>
			<app-color-picker [(ngModel)]="success"
							  (ngModelChange)="changeColor($event, 'success')"></app-color-picker>
			<h3>Warning</h3>
			<app-color-picker [(ngModel)]="warning"
							  (ngModelChange)="changeColor($event, 'warning')"></app-color-picker>
			<h3>Error</h3>
			<app-color-picker [(ngModel)]="error"
							  (ngModelChange)="changeColor($event, 'error')"></app-color-picker>
		</div>
		<div class="examples">
			<div class="buttons">
				<button class="btn">Click Me!</button>
				<button class="btn primary">Click Me!</button>
				<button class="btn secondary">Click Me!</button>
				<button class="btn accent">Click Me!</button>
				<button class="btn info">Click Me!</button>
				<button class="btn success">Click Me!</button>
				<button class="btn warn">Click Me!</button>
				<button class="btn error">Click Me!</button>
			</div>
			<div class="links">
				<a href="#"
				   class="link">This is a link</a>
				<a href="#"
				   class="link primary">This is a link</a>
				<a href="#"
				   class="link secondary">This is a link</a>
				<a href="#"
				   class="link accent">This is a link</a>
				<a href="#"
				   class="link info">This is a link</a>
				<a href="#"
				   class="link success">This is a link</a>
				<a href="#"
				   class="link warn">This is a link</a>
				<a href="#"
				   class="link error">This is a link</a>
			</div>
		</div>
	</div>
</div>


<footer>
	<span>NGRX Components &copy; 2022</span>
</footer>