<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>

<app-password-input [placeholder]="'Passwort'"
					[color]="color"
					[(ngModel)]="password"></app-password-input>
<input [(ngModel)]="color"
	   type="color" />

<router-outlet></router-outlet>