header,
footer {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: rgba(var(--neutral-color), 0.5);
}

.page {
	padding: 20px 40px;
	flex: 1;
}