<ng-container *ngIf="vm$ | async as vm">
	<div class="wrapper">
		<div class="picker"
			 [style.backgroundColor]="vm.color.hex">
			<input type="color"
				   [disabled]="vm.disabled"
				   [ngModel]="vm.color.hex"
				   (blur)="onBlur()"
				   (ngModelChange)="changeColor($event)" />
		</div>

		<div class="display">
			<input type="text"
				   [disabled]="vm.disabled"
				   [ngModel]="vm.color.hex"
				   (ngModelChange)="changeColor($event)" />
			<span [style.color]="vm.color">RGB: rgb({{ vm.color.rgb.red }}, {{ vm.color.rgb.green }}, {{ vm.color.rgb.blue }})</span>
			<span [style.color]="vm.color">Hue: {{ vm.color.hue }}</span>
		</div>
	</div>
</ng-container>